@font-face {
    font-family: webfont;
    src: url(./src/assets/healtheweb-b-regular.woff);
}

@font-face {
    font-family: AlienFuture;
    src: url(./src/assets/alien-future.woff);
    
}

body {
    overscroll-behavior: none;
}

.green-text {
    color: #05FF00;
}

.copy {
    font-family: webfont, 'Trebuchet MS', serif;
}

.headline {
    font-family: AlienFuture, sans-serif;
}

.text-xl {
    font-size: 4em;
    line-height: 60%;
}

.text-sm {
    font-size: 16px;
}