@font-face {
    font-family: HealTheWebB;
    src: url(./static/assets/healtheweb-b-regular.woff);
}

@font-face {
    font-family: FallbackFont;
    src: url(./static/assets/OCHighwayVARVF.woff),
         url(./static/assets/OCHighwayVARVF.woff2);
}

@font-face {
    font-family: AlienFuture;
    src: url(./static/assets/alien-future.woff);
    
}

body {
    overscroll-behavior: none;
}

.green-text {
    color: #05FF00;
}

.copy {
    font-family: HealTheWebB, FallbackFont, serif;
}

.headline {
    font-family: AlienFuture, sans-serif;
}

.text-xl {
    font-size: 4em;
    line-height: 60%;
}

.text-sm {
    font-size: 16px;
}